#log-content {
    background-color: #EEEEEE;
    width: 100vw;
    height: 100vh;
}

.log-content-main {
    width: 60vw;
    min-width: 780px;
    height: 100vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 0.625rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #EEEEEE;
    position: relative;
    //左侧目录区
    .left-menu {
        float: left;
        width: 9vw;
        height: 100%;
        position: fixed;
        top: 10rem;
        ul {
            padding-left: 20px;
            li {
                text-align: left;
                font-weight: 600;
                color: #000;
                font-size: 1rem;
            }
        }
    }
        /*
链接:http://caibaojian.com/rem-and-px.html
来源:http://caibaojian.com

1rem等于html根元素设定的font-size的px值，假如我们在css里面设定下面的css。

html{font-size:14px}
那么后面的CSS里面的rem值则是以这个14来换算，例如设定一个div宽度为3rem,高度为2.5rem.则它换算成px为width:42px.height:35px，同理，假如一个设计稿为宽度42px,高度为35px，则换成成rem，则是42/14=3rem，35/14=2.5rem。

如果css里面没有设定html的font-size，则默认浏览器以1rem=16px来换算。*/
    //中间内容区
    .middle-content {
        width: 36.5vw;
        min-width: 410px;
        //min-height: 900px;
        //height: 90%;
        padding: 0 2rem;
        padding-top: 1.5rem;
        background-color: #FFFFFF;
        margin-left: 1.4375rem;
        position: absolute;
        left: 9vw;
        border-radius: 2px;
        //博文标题
        .blogs-title {
            width: 100%;
            height: 30vh;
            min-height: 200px;
            border-radius: 4px;
            border: 1px dashed rgb(238, 231, 231);
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
            //标题介绍
            .title-introduce {
                position: absolute;
                background-color: rgba(53, 50, 50, 0.6);
                color: #eee;
                top: 0;
                width: 100%;
                height: 100%;
                .titleTxt {
                    color: #eee;
                    position: absolute;
                    top:40px;
                    left: 100px;
                    font-weight: 400;
                    font-size: 30px;
                    font-family: 华文新魏;
                }
                .titleDate {
                    position:absolute;
                    top: 90px;
                    left: 110px;
                    font-size: 16px;
                    font-family: 楷体;
                }
                .titleLabel {
                    position:absolute;
                    top: 140px;
                    left: 110px;
                    width: 400px;
                   height: 40px;
                    a { 
                        float: left;
                        color: rgb(255, 255, 255);
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                        background-color: rgb(16, 165, 211);
                        border-radius: 5px;
                        margin-right: 1rem;
                        transition: color 0.5s, background-color 0.5s;
                        i {
                            color: #eee;
                            transition: color 0.5s;
                        }
                        span {
                            margin-left: 5px;
                        }
                    }
                    a:hover {
                        i {
                            color: #343D64;
                            transition: color 0.5s;
                        }
                        color: rgb(0, 0, 0);
                        background-color: rgb(163, 211, 240);
                        transition: color 0.5s, background-color 0.5s;
                        
                    }
                }
            } 
        }
        //分割线
            .cutLine {
                width: 100%;
                height: 2px;
                margin-top: 20px;
                margin-bottom: 20px;
                border: 1px dashed rgb(197, 193, 193);
            }

            //正文内容
            .blogText {
                width: 100%;
            }
    }
    //右侧综合功能区
    .right-function {
        float: right;
        width: 12vw;
        min-width: 230px;
        height: 10vw;
        min-height: 160px;
        background-color: #fff;
        border-radius: 2px;
    }
}